html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Use a clean, modern font */
  background-color: #f9f9f9; /* Light background for better readability */
  background-image: url("public/images/background.jpg"); /* Path to the image in the public folder */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.226); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Adds blur effect */
}

.App-header {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.App-navbar {
  background-color: #00695c;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.App-navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.App-navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.App-navbar a:hover {
  text-decoration: underline;
}

.App-navbar ul li a {
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: bold; /* Optional: make the text bold */
}

.App-footer {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
